.header {
	box-shadow: 0 0px 20px;
    background-color: #fff;
	padding: 10px 0 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu-flex {
	display: flex;
	justify-content: end;
	flex-flow: row wrap;
	display: flex;
	align-items: center;
}

.navbar-nav.menu-flex .nav-link {
	padding: 10px 25px !important;
}

.form-periodo, .form-turma{
	margin: 0;
}

.vertical-align--center{
	flex-flow: row wrap;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.float-left {
	float: left;
}